/* add CSS class and element and selectors here */
     body {
      background-color: Moccasin;
      font-size: 150%;
    }
    
        .myClass {
      background-color: gray;
      color: blue
    }

    .anExampleClass {
      font-size: 200%;
      background-color: lightblue;
      font-family: courier;
      border: 2px dotted darkblue;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: rotate(-30)deg;
    }